main form{
  overflow: hidden;
  display: inline-block;
  background-color: #fff;
  box-shadow: 10px 20px 30px rgba(0,0,0,.07);
  border-width: 0;

}
#register{
  width: 320px;
  padding: 5% 0 0;
  margin: auto;
}
.register{
  position: relative;
}
.register h1{
  color: #000;
  font-size: 20px;
  font-weight: bolder;
}
.register form{
  box-shadow: 0 10px 30px rgba(0,0,0,.04);
}
label{
  font-size: 14px;
  font-weight: 600;
}
p{
  display: block;
}
p .submit{
  max-width: 100%;
}
input#user_register.input, #user_mail.input, 
      #user_pwd.input, #confirm_pwd.input{
  border: 0.0625rem solid rgb(201, 196, 196);
  padding: 0 80px 16px 0;
  margin: 3px 5px;
}

.signup a{
  font-size: 14px;
}

span#confirm_pwd_message{
  display: block;
  color: red;
  font-size: 12px;
}